<div class="jumbotron">
  <h1> Edit Post</h1>
</div>

<%= form_for @writing do |f| %>
<div>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div><br>
      <div>
      <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
      </div><br>
      <%= f.submit "Update Writing", class: "btn btn-info" %>
<% end %>

	  <%= button_to "Delete", @writing, class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to remove #{@writing.name}?" } %>