<%= form_for :user, url: "/users", method: "post" do |f| %>
<div class="container">
<div class="sign-up">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
            <h3> Sign Up </h3>
                <div class="form-group">
                    <label for="InputName">Enter Username*</label>
                    <div class="input-group">
                        <%= f.text_field :username, placeholder: "Username" do %> 
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                <%end%>
                <br>
                <div class="form-group">
                    <label for="InputEmail">Enter Email*</label>
                    <div class="input-group">
                      <%= f.text_field :email, placeholder: "Email" do%>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <%end%>
                <div class="form-group">
                    <label for="InputFirst">First Name</label>
                    <div class="input-group">
                             <%= f.text_field :first_name, placeholder: "First Name" do %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <% end %>
                   <div class="form-group">
                    <label for="InputLast">Last Name</label>
                    <div class="input-group">
                             <%= f.text_field :last_name, placeholder: "Last Name" do %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <% end %>
                <div class="form-group">
                    <label for="InputAge">Enter Age</label>
                    <div class="input-group">
                        <%= f.number_field :age, placeholder: "Age", min:13, max:100 do%>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <%end%>
                <br>
                <label for="InputPassword">Enter Password*</label>
                <br>
                <%= f.password_field :password, placeholder: "Password" %>
                <br>
                <label for="ChooseArtist">Please select if you are signing up as a writer or an artist:</label>
                <br>
                 <%= f.select :person, options_for_select([["Artist", "Artist"], ["Writer", "Writer"]]) %>
                <br>
                <label for="ChooseGender">Please specify your Gender:</label>
                <br>
                 <%= f.select :sex, options_for_select([["Male", "Male"], ["Female", "Female"]]) %>
                 <br>
                 <div class= "asterisk"><strong>* Required Field</strong></div>
                 <div class="Sign-up">
                <%= f.submit "Sign Up", class: "btn btn-info" %>
                <div>


            </div>
        </form>
    </div>
    </div>
</div>
<%end%>