<div class="jumbotron">
  <h1 class="jumbotron-text">New Published Work Form</h1>
</div>

<div class="container">
<div class="row">
<form role="form">
<div class="col-lg-10">
<br>
<%= form_for :publishedwork, url: "/publishedworks", method: "post" do |f| %>
         Name: <%= f.text_field :name, placeholder: "Name" %>
    <br>
    <div class = "input-group">
    Description: <%= f.text_field :description, placeholder: "Description" %>
    </div>
    <br>
    <div class = "text-field">
    Writer: <%= f.text_field :url, placeholder: "Writer" %>
    </div>
    <br>
     <div class = "text-field">
    Artist: <%= f.text_field :url, placeholder: "Artist" %>
    </div>
    <br>
    <div class = "text-field">
    URL: <%= f.text_field :url, placeholder: "Url of Comic" %>
    </div>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>
    </form>
</div>