
<div class="jumbotron">
  <h1>New Writings Form</h1>
</div>

<%= form_for @writing do |f| %>
	  <br>
	   <div>
      	<%= f.hidden_field :user_id, :value => "#{@user.id}" %>
      </div>
    Name: <%= f.text_field :name, placeholder: "Name" %>
    <br>
    <div class = "text-field">
    Synopsis: <%= f.text_field :description, placeholder: "Description" %>
    </div>
    <br>
    <%= f.submit "Submit" %>
    <% end %>