<div class="jumbotron">
  <h1>Update</h1>
</div>
<%= form_for @user, :url => user_path, :html => { :multipart => true } do |f| %>
	  <br>
	  <div>
    About: <%= f.text_field :about, class: "form-control1", placeholder: "About" %>
    </div>
    <br>
    <div class="text-field">
    Technologies/Softwares you use: <%= f.text_field :tech, class: "form-control1", placeholder: "If you're an artist, please input the technologies that you use " %>
    </div>
    <br>
    <!--will update with gallery -->
  <div class="control-group"> Drawing:
      <!-- This is where the magic happens -->
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

    <span class ="selector-text"> Update your Avatar:</span> <%= f.file_field :avatar, class: "form-control" %><br>
    <%= f.submit "Update" %>
    <% end %>