
<div class="jumbotron">
  <h1><%= @user.username %>'s Gallery</h1>
</div>

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">

		
	<div class="row">
		
		<div class="col-md-12"> 
				
			<div class="panel panel-default">
			
                <div class="panel-heading">
               
                    <span class="panel-title">
					
						<div class="pull-left">
							<ul class="nav nav-tabs">
								<li><%= link_to "Profile", user_path(@user) %> </li>
								<li class="active"><a href=""><i class="glyphicon glyphicon-picture"></i> Gallery</a></li>
								<li class="active"><a href="/users/<%= @user.id%>/writings"><i class="glyphicon glyphicon-pencil"></i> Writings</a></li>
							</ul>
						</div>
						
                            <div class="btn-group pull-right">
                                    <% if current_user == @user %>    
                                    <%= button_to edit_user_path(@user), :class => "btn btn-default dropdown-toggle", method: "get" do %> Settings <i class="glyphicon glyphicon-cog"></i>
                                    <%end%>
                                    <%end%>
                                <ul class="dropdown-menu" style="width:300px; padding:0px;">
            						
										<li>
											    

												    <div class="panel panel-default" id="preferences" style="margin:0px;">
											   
									    <div class="panel-body">
						
    										<div class="form-group">
											
											</div>
	 
										</div>
													
							
													
												</div>
											
										</li>
									</ul>

                          
                            </div>
						
						<div class="clearfix"></div>

					</span>
					
				</div>

                <div class="panel-body">
                

                <!--trying to render drawing from each user -->
				<% if @user.person == "Artist" %>
				<div class="row">
  <ul class="thumbnails files">
  <% @drawings.each do |pic| %>
    <li class="span3" id="drawing_<%= pic.id %>">
    <div class="thumbnail">
      <%= image_tag pic.image.url %>
      <div class="caption">
        <p style="text-align: center;">
				
        </p>
      </div>
    </div>
    </li>
    </ul>
      <% end %>
    <% else %>
    <p> You must be registered as an Artist to post artwork </p>

  <% end %>

                

                </div>